ShiftIt/build
release-notes-*
ShiftIt-*.zip
ShiftIt/ShiftIt.xcodeproj/*.pbxuser
ShiftIt/ShiftIt.xcodeproj/*.perspectivev3
.idea/
ShiftIt/ShiftIt.xcodeproj/project.xcworkspace/
ShiftIt/ShiftIt.xcodeproj/xcuserdata/
.DS_Store
